demo.pcm filter=lfs diff=lfs merge=lfs -text
live2d-widget-mygo filter=lfs diff=lfs merge=lfs -text
node_modules filter=lfs diff=lfs merge=lfs -text
test.py filter=lfs diff=lfs merge=lfs -text
babel.config.js filter=lfs diff=lfs merge=lfs -text
dev-app-update.yml filter=lfs diff=lfs merge=lfs -text
electron-builder.yml filter=lfs diff=lfs merge=lfs -text
jsconfig.json filter=lfs diff=lfs merge=lfs -text
pypet filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
vite.config.js filter=lfs diff=lfs merge=lfs -text
yarn.lock filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
demo.wav filter=lfs diff=lfs merge=lfs -text
dist filter=lfs diff=lfs merge=lfs -text
package.json filter=lfs diff=lfs merge=lfs -text
resources filter=lfs diff=lfs merge=lfs -text
tsconfig.json filter=lfs diff=lfs merge=lfs -text
build filter=lfs diff=lfs merge=lfs -text
electron.vite.config.mjs filter=lfs diff=lfs merge=lfs -text
eslint.config.mjs filter=lfs diff=lfs merge=lfs -text
package-lock.json filter=lfs diff=lfs merge=lfs -text
public filter=lfs diff=lfs merge=lfs -text
